.done {
  color: #4caf50;
  font-size: 20px;
  margin: 10px;
  text-decoration: line-through;
}

.not-done {
  font-size: 20px;
  margin: 10px;
}

button {
  margin-left: 30px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: #eeebdd;
  font-size: 15px;
}

form{
  align-items:baseline;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #b0b0b0;
}

/* .form-container {
  width: 100%; */

  /* padding: 10px 50px; */
/* } */
