.done {
  color: #4caf50;
  font-size: 20px;
  /* margin: 10px; */
  text-decoration: line-through;
}

.not-done {
  font-size: 20px;
  /* margin: 10px; */
}

button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: #eeebdd;
  font-size: 15px;
  font-family: monospace;
}

form{
  align-items:baseline;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #b0b0b0;
}


.container input {
  width: 25px;
  height: 25px;
  margin: 0px 30px 0px 0px;
  padding: 0px;
  cursor: pointer;
}

label {
  font-size: 25px;
  cursor: pointer;
}
